<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Terms and Conditions agreements act as a legal contract between you (the company) who has the website or mobile app
    and the user who access your website and mobile app.
  </p>

  <p>Having a Terms and Conditions agreement is completely optional. No laws require you to have one. Not even the
    super-strict and wide-reaching General Data Protection Regulation </p>

  <p>
    It’s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and
    Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the
    event that they abuse your app, where you maintain your legal rights against potential app abusers, and so on.
  </p>

  <p>You can use this agreement anywhere, regardless of what platform your business operates on:</p>

  <ul>
    <li>Websites</li>
    <li>WordPress blogs or blogs on any kind of platform: Joomla!, Drupal etc.</li>
    <li>E-commerce shops</li>
    <li>Mobile apps: iOS, Android or Windows phone</li>
    <li>Facebook apps</li>
    <li>Desktop apps</li>
  </ul>
</ion-content>