<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="addBookmark()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <div fxLayoutAlign="center center" *ngIf="quiz">
    <mat-card class="w-100">
      <h3 fxLayoutAlign="center">{{quiz.title}}</h3>
      <mat-card-header>
        Category: {{quiz.category}}
      </mat-card-header>
      <mat-card-header>
        Duration: {{quiz.duration}} minutes
      </mat-card-header>
      <mat-card-header>
        Exam Count: {{quiz.examCount}}
      </mat-card-header>
      <br />
      <mat-card-content>
        <p>{{quiz.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <ion-button color="primary" fxLayoutAlign="center" [routerLink]="[ '/quiz', quizKey, userKey ]">START
        </ion-button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="share()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>