<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SIGN IN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div fxLayout="row" fxFill fxLayoutAlign="center center" class="backgroundAuth">
    <div fxLayout="column" fxLayoutAlign="center center" style="height: 90vh">
      <mat-card class="w-30">
        <form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" [formGroup]="loginForm"
          (ngSubmit)="onLoginFormSubmit(loginForm.value)">
          <mat-card-header>
            <mat-card-title>
              <h2>SIGN IN</h2>
            </mat-card-title>
          </mat-card-header>

          <a mat-button [routerLink]="['/auth/register']">Don't have an account? Sign up
            now!</a>

          <mat-form-field class="w-100" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" autocomplete="off">
            <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Password" autocomplete="off" type="password">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of
              6 characters</mat-error>
          </mat-form-field>

          <mat-card-actions>
            <ion-button type="submit" color="primary">SIGN TO MY ACCOUNT</ion-button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</ion-content>